.budgetEdit {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  .content {
    
  }
  .pie-chart {
    width: 100%;
    height: 400rpx;
  }
  .header_card {
    border-radius: 24rpx;
    margin: 32rpx;
    padding: 32rpx;
    background-color: #fff;
    border: 1rpx solid rgba($color: #000000, $alpha: 0.1);
    box-shadow: 0 0 12rpx 0 rgba(0, 0, 0, 0.15);
    .show {
      display: flex;
      flex-wrap: wrap;
      >View {
        @include mul-text-truncate(1);
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        Text {
          font-size: 24rpx;
        }
        Text+Text {
          color: $color-primary;
          font-size: 38rpx;
        }
      }
    }
  }
}