.MyPage {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .MyTitle {
    z-index: 999; /* 保证标题位于其他元素之上 */
    top: 0;
    width: 100%;
    background-color: $color-primary;
    height: 80px;
    font-size: 36px;
    position: relative;
    .title{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .title-left {
      position: absolute;
      left: 24px;
      top: 20%;
      font-size: 56rpx;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .title-content {
      color: $color-text-in-brand;
      text-align: center;
    }
    .title-right {
      position: absolute;
      right: 0;
    }
  }
  .MyContent {
    position: relative;
    overflow: auto;
    flex: 1;
  }
}