@font-face {
	font-family: LXGW;
	src: url('https://7965-yel-bookkeeping-6gjr4iqo76b6d62b-1317381139.tcb.qcloud.la/%E6%88%91%E7%9A%84%E9%99%84%E4%BB%B6/%E9%9C%9E%E9%B9%9C%E6%96%87%E6%A5%B7.woff2?sign=c1fe057466884982123105628ce337df&t=1686732110');
	font-display: swap;
}

view {
	font-family: LXGW;
}

@import 

"./font/iconfont.scss",

// mixin
"./base/reset.scss",
"./base/setting.scss", 
"./base/mixin.scss",
"./base/defaults.scss",

// components
"../components/MyPage/MyPage.scss",
"../components/MyNavbar/MyNavbar.scss",
"../components/MyPopUp/MyPopUp.scss",
"../components/CustomSoftKeyboard/CustomSoftKeyboard.scss",
"../components/BillsDateCard/BillsDateCard.scss",
"../components/Form/FormStyle",

// pages
"../pages/home/home.scss",
"../pages/user/user.scss",
"../pages/account/account.scss",
"../pages/userInfoEdit/userInfoEdit.scss",
"../pages/addBill/addBill.scss",
"../pages/addAccount/addAccount.scss",
"../pages/billCategory/billCategory.scss",
"../pages/addBillCategory/addBillCategory.scss";
